MY_PROJECT=inspire-mcp-search
MY_ENV=dev
DEBUG=true
HOSTNAME=localhost
BIND_HOST=127.0.0.1

POSTGRES_DB=changeme
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432
DB_HOST=127.0.0.1

OLLAMA_PORT=11433
OLLAMA_EMBEDDING_MODEL=nomic-embed-text
OLLAMA_RAG_MODEL=llama3.1:8b

DOCKER_SUBNET=172.28.0.0/16
DOCKER_GATEWAY=172.28.0.1
